$defaultFont: Helvetica;
$defaultBackground: rgb(26, 26, 26);
$defaultFontColor: rgb(255, 255, 255);
$fadedBlack: rgba(26, 26, 26, 0.671);
$readableWhite: rgb(230, 230, 230);
$imgAnimationSpeed: 0.4s;
$midLeftAnimateWidth: 60%;
$midRightAnimateWidth: 40%;

/*******************************/
/* Defaults */
/******************************/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

body {
  margin: 0;
}

html {
  overflow-x: hidden;
}

@keyframes load {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes changez {
  to {
    z-index: -1;
  }
}

/*******************************/
/* Loader */
/******************************/
.loadme {
  color: white;
}

.loader {
  font-family: $defaultFont;
  font-size: 10rem;
  font-weight: 600;

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: $defaultBackground;

  display: flex;
  justify-content: center;
  align-items: center;
  /* animation: load 0.5s linear 0.5s 1 forwards, changez 1s linear 0.5s 1 forwards; */
  /* animation: load 1s linear 1.5s 1 forwards, changez 1s linear 2s 1 forwards; */
  animation: load 0.5s linear 0.5s 1 forwards, changez 1s linear 0.5s 1 forwards;
}

/********************************************************************************/
/*                            NAVIGATION BAR                                    */
/********************************************************************************/
nav {
  font-family: $defaultFont;
}

.home-bar {
  display: flex;
  flex-direction: row;
  flex-flow: row-reverse;
  position: fixed;
  top: -10rem;
  width: 100%;
  transition: top 0.5s;

  background: $defaultBackground;

  z-index: 5;
  overflow: hidden;
}

.home-link,
.projects-link,
.vlogs-link,
.contact-link {
  font-family: $defaultFont;
  font-size: 1rem;
  font-weight: 600;
  font-style: none;
  text-decoration: none;
  color: $defaultFontColor;

  overflow: hidden;
  padding: 0.75rem;
  margin: 0rem 1rem 0rem 1rem;

  transition-duration: 0.5s;
}

.tonyvu-link {
  visibility: hidden;
}

.menu-icon {
  visibility: hidden;
}

.home-bar a:hover {
  background: rgb(122, 122, 122);
}

.phone-nav {
  visibility: hidden;
}

/********************************************************************************/
/*                            HOMEPAGE CONTAINER                                */
/********************************************************************************/
.homepage-container {
  display: flex;
  flex-direction: column;

  position: relative;
  height: 100vh;
  margin: 0;
  background: $defaultBackground;

  overflow: hidden;
}

.logo-container {
  display: flex;
  flex-direction: column;

  margin-top: 2rem;

  text-align: center;
}

.logo-block {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  background: transparent;
}

.logo {
  font-size: 1.7rem;
  font-weight: 600;
  font-family: $defaultFont;
  font-style: none;
  letter-spacing: 0.2rem;
  text-decoration: none;
  white-space: nowrap;

  color: $defaultFontColor;
  background: transparent;

  padding: 0;
}

.sub-logo-block {
  width: 100%;
  text-align: center;
  justify-content: center;
  margin: 0 0 1rem 0;
}

.sub-logo {
  font-size: 1rem;
  font-weight: 500;
  font-family: $defaultFont;
  font-style: none;
  letter-spacing: 0.1rem;

  color: $defaultFontColor;
  background: transparent;

  width: 36rem;

  margin: 0 auto;
}

.homepage-links-container {
  width: 100%;
  height: auto;

  align-items: center;
  justify-content: center;

  display: flex;
  flex-direction: row;

  background: transparent;
}

.homepage-container .middle p {
  font-size: 1rem;
  font-weight: 500;
  font-family: $defaultFont;
  font-style: none;
  color: $defaultFontColor;
  letter-spacing: 0.2rem;
  text-decoration: none;
  white-space: nowrap;
}

.homepage-block-middle {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  width: 45rem;
  height: 30rem;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  transition: all 0.3s ease-in-out;
}

.homepage-block-middle:hover {
  width: 50rem;
  height: 35rem;
  cursor: pointer;
}

.main-picture {
  object-fit: contain;
  width: 100%;
  height: 100%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation-name: enlarge;
  animation-duration: $imgAnimationSpeed;
  animation-fill-mode: forwards;
}

@keyframes enlarge {
  from {
    opacity: 0;
    width: 110%;
    height: 110%;
  }
  to {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}

.middle-frame {
  background: transparent;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  animation-duration: $imgAnimationSpeed;
  animation-fill-mode: forwards;
}

@keyframes middle-animate-left {
  from {
    left: $midLeftAnimateWidth;
  }
  to {
    left: 50%;
  }
}

@keyframes middle-animate-right {
  from {
    left: $midRightAnimateWidth;
  }
  to {
    left: 50%;
  }
}

.main-header {
  font-family: $defaultFont;
  font-size: 7rem;
  font-weight: 600;
  letter-spacing: 0.5rem;

  color: transparent;

  position: absolute;
  bottom: -3rem;
  right: -4rem;
  -webkit-text-stroke-width: 0.15rem;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.homepage-block-left {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  width: 30rem;
  height: 20rem;

  position: absolute;
  top: 50%;
  left: -5rem;

  transform: translate(-50%, -50%);

  animation-name: block-left-animate;
  animation-duration: $imgAnimationSpeed;
  animation-fill-mode: forwards;
}

@keyframes block-left-animate {
  from {
    left: -7rem;
  }
  to {
    left: -5rem;
  }
}

.block-left {
  width: inherit;
  height: inherit;

  background-image: url("../images/contact3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  transition: all 0.3s ease-in-out;
}

.homepage-block-right {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  width: 30rem;
  height: 20rem;

  position: absolute;
  top: 50%;
  right: -35rem;

  transform: translate(-50%, -50%);
  animation-name: block-right-animate;
  animation-duration: $imgAnimationSpeed;
  animation-fill-mode: forwards;
}

.block-left:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.block-right {
  width: inherit;
  height: inherit;

  background-image: url("../images/vlogs2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  transition: all 0.3s ease-in-out;
}

.block-right:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.homepage-footer {
  position: absolute;
  bottom: 5rem;
  width: 100%;
  background: transparent;
  margin-top: 4rem;

  p,
  a {
    float: left;
    font-size: 1rem;
    font-weight: 500;
    font-family: $defaultFont;
    font-style: none;
    color: $defaultFontColor;

    letter-spacing: 0.2rem;
    text-decoration: none;
    white-space: nowrap;
  }

  p {
    margin-left: 4rem;
  }

  a {
    float: right;
    margin-right: 4rem;
  }
}

/********************************************************************************/
/*                            ABOUT CONTAINER                                  */
/********************************************************************************/

.about-container {
  height: 90rem;
  width: 100%;
  position: relative;
  
  display: flex;
  flex-direction: row;

  text-align: center;
  justify-content: center;

  overflow: hidden;
}

.about-header {
  margin: 10rem 0 0 5rem;

  text-align: left;
  width: 60rem;
  height: 50rem;
  

  font-family: 'Space Mono', monospace;
  font-size: 4.6rem;
  font-weight: 400;

  transform: translateX(-100rem);
  transition: transform 1.5s;
}

.about-me-container {
  position: absolute;
  right: 6rem;
  bottom: 7rem;

  width: 35rem;
  text-align: left;

  transform: translateX(50rem);
  transition: transform 1.5s;
}

.about-me-header {
  font-family: 'Space Mono', monospace;
  font-size: 1rem;
}

.about-me {
  font-family: 'Space Mono', monospace;
  font-size: 1rem;

  a {
    color: black;
    
  }
}



.s-frame-one {
  position: absolute;
  left: 0;
  top: 25rem;

  height: 0rem;
  width: 30rem;
  
  background-image: url("../images/coast.jpg");
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  transition: height 1.5s;
}

.s-frame-two {
  position: absolute;
  top: 45rem;

  height: 0rem;
  width: 30rem;

  background-image: url("../images/bridge.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: height 1.5s;
}

.s-frame-three {
  position: absolute;
  right: 0;
  top: 10rem;

  height: 0rem;
  width: 30rem;

  background-image: url("../images/fall.jpg");
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  transition: height 1.5s;
}

.project-header {
  width: 90%;
  margin: 0 auto 1.5rem;
}

.project-header h1 {
  overflow: hidden;
  text-align: center;
}

.project-header h1:before,
.project-header h1:after {
  background-color: $fadedBlack;
  content: "";
  display: inline-block;
  height: 0.3rem;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.project-header h1:before {
  right: 0.5em;
  margin-left: -40%;
}

.project-header h1:after {
  left: 0.5em;
  margin-right: -40%;
}

.project-header h1 {
  font-family: 'Space Mono', monospace;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.5rem;

  color: rgb(0, 0, 0);
  text-align: center;

  margin-top: 4rem;
  margin-bottom: 1rem;
}

/********************************************************************************/
/*                            PROJECT CONTAINER                                 */
/********************************************************************************/
$projectFrameHeight: 25rem;

.projects-container {
  height: 60rem;
  width: 100%;
  background: rgb(255, 255, 255);

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.project-one-container {
  display: block;

  width: 100%;
  height: $projectFrameHeight;

  display: flex;
  flex-direction: row;

  justify-content: center;

  transition: transform 2s, opacity 1s;

  overflow: hidden;

  animation-name: float-in;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes float-in {
  from {
    transform: translateX(150rem);
  }
  to {
    transform: translateX(0rem);
  }
}

@keyframes float-out {
  from {
    transform: translateX(0rem);
  }
  to {
    transform: translateX(-150rem);
  }
}

.project-buttons {
  width: 100%;
  height: 10rem;
  margin-bottom: 2rem;
  text-align: center;

  button {
    font-family: 'Space Mono', monospace;
    font-size: 1.3rem;
    font-weight: 600;
    white-space: nowrap;

    width: 12rem;
    height: 7rem;

    border-radius: 1rem;

    margin: 0 2rem;

    background: rgba(255, 255, 255, 0.808);
    color: rgb(0, 0, 0);

    text-align: center;
  }

  .btn-one {
    background: rgba(238, 60, 60, 0.808);
    color: white;
  }

  button:hover {
    cursor: pointer;
  }
}

.p1-image-frame {
  height: $projectFrameHeight;
  width: 50rem;
}

.p1-image-block {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  margin: 0 auto;

  width: 40rem;
  height: $projectFrameHeight;
}

.p1-image-block:hover {
  cursor: pointer;
}

.p1-picture {
  width: 100%;
  height: 100%;
}

.p1-header {
  font-family: 'Space Mono', monospace;
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 0.5rem;

  color: transparent;

  text-align: center;

  -webkit-text-stroke-width: 0.25rem;
  -webkit-text-stroke-color: rgb(0, 0, 0);

  white-space: nowrap;
}

.p1-summary-frame {
  margin-right: 3rem;
  height: $projectFrameHeight;
  width: 50rem;
  overflow: hidden;
}

.p1-summary {
  position: relative;

  font-family: 'Space Mono', monospace;
  font-size: 1.2rem;
  width: 50rem;
  height: $projectFrameHeight;

  line-height: 2rem;

  color: rgb(255, 255, 255);
  text-align: left;

  h1 {
    font-size: 2rem;
    color: black;
  }

  h2 {
    color: $fadedBlack;
    margin-bottom: 1rem;
  }

  p {
    border-top: 0.1rem solid $fadedBlack;
    color: black;
    font-size: 1.2rem;
    padding-top: 1rem;
  }

  h3 {
    text-align: left;
  }

  .p1-languages {
    margin: 1rem 0;

    h3 {
      display: inline-block;
      margin-right: 1rem;
      background: $fadedBlack;
      padding: 0.25rem 0.5rem;

      font-size: 1.2rem;
      line-height: 2rem;
    }
  }

  .p1-visit-git {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .p1-visit-git a {
    display: inline-block;

    padding: 0.25rem 0.5rem;

    font-family: 'Space Mono', monospace;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    line-height: 2rem;

    color: rgb(0, 0, 0);

    border: 0.15em solid rgba(238, 60, 60, 0.808);

    text-align: center;
    width: 20rem;

    transition: background 0.5s, color 0.5s;
  }

  .btn-p1-git {
    right: 0;
  }
}

.btn-p1-visit {
  float: left;
  letter-spacing: 0.02rem;
}

.btn-p1-git {
  float: right;
}

.p1-visit-git a:hover {
  background: rgba(238, 60, 60, 0.808);
  color: white;
}

/********************************************************************************/
/*                            VLOGS CONTAINER                                  */
/********************************************************************************/

.vlogs-container {
  height: 110vh;
  background: rgb(255, 255, 255);

  padding-top: 0.1rem;
  overflow: hidden;
}

.vlogs-header {
  width: 90%;
  margin: 0 auto 1.5rem;
}

.vlogs-header h1 {
  overflow: hidden;
  text-align: center;
}

.vlogs-header h1:before,
.vlogs-header h1:after {
  background-color: $fadedBlack;
  content: "";
  display: inline-block;
  height: 0.3rem;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.vlogs-header h1:before {
  right: 0.5em;
  margin-left: -40%;
}

.vlogs-header h1:after {
  left: 0.5em;
  margin-right: -40%;
}

.vlogs-header h1 {
  font-family: 'Space Mono', monospace;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.5rem;

  color: rgb(0, 0, 0);
  text-align: center;

  margin-top: 4rem;
  margin-bottom: 1rem;
}


/********************************************************************************/
/*                            CONTACT CONTAINER                                 */
/********************************************************************************/

.contact-container {
  position: relative;

  height: 100vh;
  background: rgb(255, 255, 255);

  z-index: 0;
  overflow: hidden;
}

.contact-frame {
  position: absolute;
  width: 100rem;
  height: 40rem;
  background: $defaultBackground;

  bottom: 0;
  display: flex;
  flex-direction: row;

  z-index: 2;

  transition: transform 1s;
}




$formWidth: 31rem;
$borderRadius: 0.2rem;
$formFontSize: 1rem;
$nameEmailHeight: 2.2rem;

.form-wrapper {
  font-family: 'Space Mono', monospace;
  font-size: $formFontSize;
  color: white;

  display: flex;
  flex-direction: column;

  width: 50%;

  margin: 3rem auto 0;

  overflow: hidden;
}

.name-email-section {
  margin: 0 auto;

  width: $formWidth;
  height: 5rem;
}

.form-name-div {
  float: left;
}

.form-input-name {
  font-family: 'Space Mono', monospace;
  font-size: $formFontSize;
  background: white;
  width: 15rem;
  height: $nameEmailHeight;

  border-radius: $borderRadius;

  padding: 0.5rem;
  box-sizing: border-box;
  margin-top: 0.3rem;
}

.form-email-div {
  float: right;
}

.form-input-email {
  font-family: 'Space Mono', monospace;
  font-size: $formFontSize;
  background: white;
  width: 15rem;
  height: $nameEmailHeight;
  border-radius: $borderRadius;

  padding: 0.5rem;
  box-sizing: border-box;
  margin-top: 0.3rem;
}

.subject-section {
  margin: 0 auto;
  
  width: $formWidth;
  height: 5rem;

  select {
    margin-top: 0.3rem;
    font-family: 'Space Mono', monospace;
    font-size: $formFontSize;
    border-radius: $borderRadius;
    background: white;
    width: $formWidth;
    height: $nameEmailHeight;
  }
}

.message-section {
  background: transparent;

  width: $formWidth;
  height: 17rem;

  margin: 0 auto;
}

.message-input {
  font-family: 'Space Mono', monospace;
  font-size: $formFontSize;
  background: white;
  border-radius: $borderRadius;
  resize: none;

  height: 15rem;

  padding: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0.3rem;
}

.button-section {
  width: 100%;
  text-align: center;

  margin-top: 2rem;
}

.submit-btn {
  font-family: 'Space Mono', monospace;
  font-size: 1.1rem;

  height: 2.3rem;
  width: 10rem;

  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-sizing: border-box;

  border-radius: 1rem;
  transition-duration: 0.8s;
}

.submit-btn:hover {
  background: rgba(134, 134, 134, 0.671);
  color: white;
  cursor: pointer;
}

.social-media-wrapper {
  width: 50%;
  justify-content: center;
  text-align: center;
  
}

$smBlockWidth: 20rem;
$smBlockHeight: 10rem;
$smHead2Size: 0.8rem;

.sm-block {
  position: relative;
  width: 40rem;
  height: 25rem;
  margin: 3rem 0 0 10rem;
  color: white;
  display: flex;
  flex-direction: row;
}

.sm-1 {
  font-family: 'Space Mono', monospace;
  font-size: 1.1rem;
  position: absolute;
  height: $smBlockHeight;
  width: $smBlockWidth;
  text-align: left;
  
  top: 0;
  left: 0;

  h2 {
    color: rgb(156, 156, 156);
    font-size: $smHead2Size;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.sm-2 {
  font-family: 'Space Mono', monospace;
  font-size: 1.1rem;
  position: absolute;
  height: $smBlockHeight;
  width: $smBlockWidth;
  text-align: left;

  right: 0;

  h2 {
    color: rgb(156, 156, 156);
    font-size: $smHead2Size;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.sm-3 {
  font-family: 'Space Mono', monospace;
  font-size: 1.1rem;
  position: absolute;
  height: $smBlockHeight;
  width: $smBlockWidth;
  text-align: left;

  left: 0;
  bottom: 0;

  h2 {
    color: rgb(156, 156, 156);
    font-size: $smHead2Size;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.sm-4 {
  font-family: 'Space Mono', monospace;
  font-size: 1.1rem;
  position: absolute;
  height: $smBlockHeight;
  width: $smBlockWidth;
  text-align: left;

  right: 0;
  bottom: 0;

  h2 {
    color: rgb(156, 156, 156);
    font-size: $smHead2Size;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.offset-contact-img {
  position: absolute;
  bottom: 15rem;
  right: 0;

  width: 50vw;

  z-index: 1;
}

/********************************************************************************/
/*                                ANIMATIONS                                    */
/********************************************************************************/
$langDuration: 0.8s;

.p1-lang1 {
  opacity: 0;
  animation-name: lang-animate;
  animation-duration: $langDuration;
  animation-fill-mode: forwards;
  animation-delay: .5s;
}

.p1-lang2 {
  opacity: 0;
  animation-name: lang-animate;
  animation-duration: $langDuration;
  animation-fill-mode: forwards;
  animation-delay: .8s;
}

.p1-lang3 {
  opacity: 0;
  animation-name: lang-animate;
  animation-duration: $langDuration;
  animation-fill-mode: forwards;
  animation-delay: 1.1s;
}

.p1-lang4 {
  opacity: 0;
  animation-name: lang-animate;
  animation-duration: $langDuration;
  animation-fill-mode: forwards;
  animation-delay: 1.4s;
}

.p1-lang5 {
  opacity: 0;
  animation-name: lang-animate;
  animation-duration: $langDuration;
  animation-fill-mode: forwards;
  animation-delay: 1.7s;
}

@keyframes lang-animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


