/*******************************/
/* Defaults */
/******************************/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

li {
  list-style-type: none;
}

body {
  margin: 0;
}

html {
  overflow-x: hidden;
}

@-webkit-keyframes load {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes load {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes changez {
  to {
    z-index: -1;
  }
}

@keyframes changez {
  to {
    z-index: -1;
  }
}

/***********************/
/* Navigation Bar */
/***********************/
nav {
  font-family: Helvetica;
}

.home-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: row-reverse;
      flex-flow: row-reverse;
  position: fixed;
  top: -10rem;
  width: 100%;
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
  background: rgba(26, 26, 26, 0.671);
  z-index: 5;
}

.home-link,
.projects-link,
.resume-link,
.contact-link {
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: 600;
  font-style: none;
  text-decoration: none;
  overflow: hidden;
  padding: 0.75rem;
  margin: 0rem 1rem 0rem 1rem;
  color: white;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.home-bar a:hover {
  background: #7a7a7a;
}

/***********************/
/* Homepage Container */
/***********************/
.homepage-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  margin: 0;
  background: #1a1a1a;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
  text-align: center;
}

.logo-block {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  background: transparent;
}

.logo {
  font-size: 1.7rem;
  font-weight: 600;
  font-family: Helvetica;
  font-style: none;
  letter-spacing: 0.2rem;
  text-decoration: none;
  white-space: nowrap;
  color: white;
  background: transparent;
  padding: 0;
}

.sub-logo {
  font-size: 1rem;
  font-weight: 500;
  font-family: Helvetica;
  font-style: none;
  letter-spacing: 0.2rem;
  text-decoration: none;
  white-space: nowrap;
  margin: 0 0 1rem 0;
  color: white;
  background: transparent;
}

.homepage-links-container {
  width: 100%;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: transparent;
}

.homepage-container .middle p {
  font-size: 1rem;
  font-weight: 500;
  font-family: Helvetica;
  font-style: none;
  color: white;
  letter-spacing: 0.2rem;
  text-decoration: none;
  white-space: nowrap;
}

.homepage-block-middle {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 45rem;
  height: 30rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.homepage-block-middle:hover {
  width: 50rem;
  height: 35rem;
  cursor: pointer;
}

.main-picture {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation-name: enlarge;
          animation-name: enlarge;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes enlarge {
  from {
    opacity: 0;
    width: 110%;
    height: 110%;
  }
  to {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}

@keyframes enlarge {
  from {
    opacity: 0;
    width: 110%;
    height: 110%;
  }
  to {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}

.middle-frame {
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes middle-animate-left {
  from {
    left: 60%;
  }
  to {
    left: 50%;
  }
}

@keyframes middle-animate-left {
  from {
    left: 60%;
  }
  to {
    left: 50%;
  }
}

@-webkit-keyframes middle-animate-right {
  from {
    left: 40%;
  }
  to {
    left: 50%;
  }
}

@keyframes middle-animate-right {
  from {
    left: 40%;
  }
  to {
    left: 50%;
  }
}

.main-header {
  font-family: Helvetica;
  font-size: 7rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  color: transparent;
  position: absolute;
  bottom: -3rem;
  right: -4rem;
  -webkit-text-stroke-width: 0.15rem;
  -webkit-text-stroke-color: white;
}

.homepage-block-left {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 30rem;
  height: 20rem;
  position: absolute;
  top: 50%;
  left: -5rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation-name: block-left-animate;
          animation-name: block-left-animate;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes block-left-animate {
  from {
    left: -7rem;
  }
  to {
    left: -5rem;
  }
}

@keyframes block-left-animate {
  from {
    left: -7rem;
  }
  to {
    left: -5rem;
  }
}

.block-left {
  width: inherit;
  height: inherit;
  background-image: url("../images/contact3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/*******************************/
/* Loader */
/******************************/
.loadme {
  color: white;
}

.loader {
  font-family: Helvetica;
  font-size: 10rem;
  font-weight: 600;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* animation: load 0.5s linear 0.5s 1 forwards, changez 1s linear 0.5s 1 forwards; */
  /* animation: load 1s linear 1.5s 1 forwards, changez 1s linear 2s 1 forwards; */
  -webkit-animation: load 0.5s linear 0.5s 1 forwards, changez 1s linear 0.5s 1 forwards;
          animation: load 0.5s linear 0.5s 1 forwards, changez 1s linear 0.5s 1 forwards;
}

.homepage-block-right {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 30rem;
  height: 20rem;
  position: absolute;
  top: 50%;
  right: -35rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation-name: block-right-animate;
          animation-name: block-right-animate;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes block-right-animate {
  from {
    right: -37rem;
  }
  to {
    right: -35rem;
  }
}

@keyframes block-right-animate {
  from {
    right: -37rem;
  }
  to {
    right: -35rem;
  }
}

.block-left:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.block-right {
  width: inherit;
  height: inherit;
  background-image: url("../images/resume2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.block-right:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.homepage-footer {
  position: absolute;
  bottom: 4rem;
  width: 100%;
  background: transparent;
  margin-top: 4rem;
}

.homepage-footer p,
.homepage-footer a {
  float: left;
  font-size: 1rem;
  font-weight: 500;
  font-family: Helvetica;
  font-style: none;
  color: white;
  letter-spacing: 0.2rem;
  text-decoration: none;
  white-space: nowrap;
}

.homepage-footer p {
  margin-left: 4rem;
}

.homepage-footer a {
  float: right;
  margin-right: 4rem;
}

.skills-container {
  height: 100vh;
  background: #1a1a1a;
}

.skills-container h1,
.skills-container h2,
.skills-container h3,
.skills-container h4 {
  background: #1a1a1a;
  margin: 0 3rem 7rem;
  color: white;
  font-family: Helvetica;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
}

.skills-container h1 {
  text-align: center;
  padding-top: 4rem;
}

.skills-container h2 {
  text-align: left;
  margin-left: 12rem;
}

.skills-container h3 {
  text-align: center;
}

.skills-container h4 {
  text-align: right;
  margin-right: 5rem;
}

.projects-container {
  height: 290vh;
  background: rgba(233, 159, 23, 0.993);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-header {
  width: 90%;
  margin: 0 auto 1.5rem;
}

.project-header h1 {
  overflow: hidden;
  text-align: center;
}

.project-header h1:before,
.project-header h1:after {
  background-color: rgba(26, 26, 26, 0.671);
  content: "";
  display: inline-block;
  height: 0.3rem;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.project-header h1:before {
  right: 0.5em;
  margin-left: -40%;
}

.project-header h1:after {
  left: 0.5em;
  margin-right: -40%;
}

.project-header h1 {
  font-family: Helvetica;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  color: white;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.project-one-container {
  width: 100%;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.project-two-container {
  width: 100%;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.project-three-container {
  width: 100%;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/* middle-frame */
.p1-image-frame {
  height: 40rem;
  width: 52%;
}

/* homepage-block-middle */
.p1-image-block {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  width: 40rem;
  height: 25rem;
}

.p1-image-block:hover {
  cursor: pointer;
}

/* main-picture */
.p1-picture {
  width: 100%;
  height: 100%;
}

/* main-header */
.p1-header {
  font-family: Helvetica;
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  color: transparent;
  text-align: center;
  -webkit-text-stroke-width: 0.25rem;
  -webkit-text-stroke-color: white;
  white-space: nowrap;
}

.p1-summary-frame {
  margin-right: 3rem;
  height: 30rem;
  width: 48%;
}

.p1-summary {
  font-family: Helvetica;
  font-size: 1.2rem;
  width: 45rem;
  line-height: 2rem;
  color: #e6e6e6;
  text-align: left;
}

.p1-summary h2 {
  background: rgba(26, 26, 26, 0.671);
  padding: 1rem;
}

.p1-summary h3 {
  text-align: left;
}

.p1-summary .p1-languages {
  margin: 1rem 0;
}

.p1-summary .p1-languages h3 {
  display: inline-block;
  margin-right: 1rem;
  background: rgba(26, 26, 26, 0.671);
  padding: 0.25rem 0.5rem;
  font-size: 1.2rem;
  line-height: 2rem;
}

.p1-summary .p1-visit-git {
  text-align: left;
}

.p1-summary .p1-visit-git a {
  display: inline-block;
  margin-top: 4rem;
  padding: 0.25rem 0.5rem;
  font-family: Helvetica;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  line-height: 2rem;
  color: black;
  background: rgba(255, 255, 255, 0.671);
  text-align: center;
  width: 20rem;
}

.btn-p1-visit {
  float: left;
  letter-spacing: 0.02rem;
}

.btn-p1-git {
  float: right;
}

.p1-visit-git a:hover {
  text-decoration: underline;
}

#pizzeria-header {
  font-size: 4.8rem;
}

.resume-container {
  height: 110vh;
  background: #478547;
}

.contact-container {
  height: 100vh;
  background: #96525c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-header {
  width: 90%;
  margin: 0 auto 1.5rem;
}

.contact-header h1 {
  overflow: hidden;
  text-align: center;
}

.contact-header h1:before,
.contact-header h1:after {
  background-color: rgba(26, 26, 26, 0.671);
  content: "";
  display: inline-block;
  height: 0.3rem;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.contact-header h1:before {
  right: 0.5em;
  margin-left: -40%;
}

.contact-header h1:after {
  left: 0.5em;
  margin-right: -40%;
}

.contact-header h1 {
  font-family: Helvetica;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  color: white;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.contact-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  margin: 0 auto;
}

.contact-img-container {
  width: 50%;
  text-align: center;
}

.contact-img {
  width: 20rem;
  border-radius: 50%;
}

form {
  font-family: Helvetica;
  font-size: 1rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 50%;
  margin: 0 auto;
}

.name-email-container {
  margin: 0 auto;
  width: 31rem;
  height: 5rem;
}

.form-name-div {
  float: left;
}

.form-input-name {
  font-size: 1rem;
  background: white;
  width: 15rem;
  height: 2.2rem;
  border-radius: 0.2rem;
  padding: 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 0.3rem;
}

.form-email-div {
  float: right;
}

.form-input-email {
  font-size: 1rem;
  background: white;
  width: 15rem;
  height: 2.2rem;
  border-radius: 0.2rem;
  padding: 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 0.3rem;
}

.message-container {
  background: transparent;
  width: 31rem;
  height: 17rem;
  margin: 0 auto;
}

.message-input {
  font-family: Helvetica;
  font-size: 1rem;
  background: white;
  border-radius: 0.2rem;
  resize: none;
  height: 15rem;
  padding: 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-top: 0.3rem;
}

.button-container {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

.submit-btn {
  font-family: Helvetica;
  font-size: 1.1rem;
  height: 2.3rem;
  width: 10rem;
  background: rgba(26, 26, 26, 0.671);
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 1rem;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.submit-btn:hover {
  background: rgba(255, 255, 255, 0.671);
  color: black;
  cursor: pointer;
}
/*# sourceMappingURL=home.css.map */