/*******************************/
/* Defaults */
/******************************/
li {
  list-style-type: none;
}

body {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/***********************/
/* Navigation Bar */
/***********************/
nav {
  font-family: Helvetica;
}

.home-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: row-reverse;
      flex-flow: row-reverse;
  position: fixed;
  top: -10vw;
  width: 100%;
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
  background: black;
}

.home-bar .home-link,
.home-bar .projects-link,
.home-bar .resume-link,
.home-bar .contact-link {
  font-size: 1rem;
  font-weight: 900;
  font-style: none;
  text-decoration: none;
  overflow: hidden;
  padding: 1rem;
  margin: 0rem 1rem 0rem 1rem;
  color: white;
  -webkit-animation-name: animate-nav-link-out;
          animation-name: animate-nav-link-out;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.home-bar a:hover {
  -webkit-animation-name: animate-nav-link;
          animation-name: animate-nav-link;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes animate-nav-link {
  from {
    background: black;
  }
  to {
    background: #c7b7b7;
    color: black;
  }
}

@keyframes animate-nav-link {
  from {
    background: black;
  }
  to {
    background: #c7b7b7;
    color: black;
  }
}

@-webkit-keyframes animate-nav-link-out {
  from {
    background: #c7b7b7;
    color: black;
  }
  to {
    background: black;
    color: white;
  }
}

@keyframes animate-nav-link-out {
  from {
    background: #c7b7b7;
    color: black;
  }
  to {
    background: black;
    color: white;
  }
}

/***********************/
/* Homepage Container */
/***********************/
.homepage-container {
  display: block;
  width: 100%;
  height: 50vw;
}

.homepage-container .logo-container {
  margin: 20px;
  /***********************/
  /* Animate In Logo */
  /***********************/
  /***********************/
  /* LOGO HOVER ANIMATION */
  /***********************/
}

.homepage-container .logo-container .logo {
  font-size: 6vw;
  font-weight: 900;
  font-family: Helvetica;
  font-style: none;
  text-decoration: none;
  white-space: nowrap;
  color: white;
  background: #c71f1f;
  margin: 0;
  padding: 0 10px 0 10px;
}

.homepage-container .logo-container .logo-block {
  -webkit-animation-name: logo-in-animation;
          animation-name: logo-in-animation;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes logo-in-animation {
  from {
    margin-left: -8000px;
  }
  to {
    margin-left: 60px;
  }
}

@keyframes logo-in-animation {
  from {
    margin-left: -8000px;
  }
  to {
    margin-left: 60px;
  }
}

.homepage-container .logo-container .logo-section :hover {
  -webkit-animation-name: logo-hover-animation-in;
          animation-name: logo-hover-animation-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes logo-hover-animation-in {
  from {
    background: #c71f1f;
  }
  to {
    background: white;
    color: black;
  }
}

@keyframes logo-hover-animation-in {
  from {
    background: #c71f1f;
  }
  to {
    background: white;
    color: black;
  }
}

.homepage-container .logo-container .logo {
  -webkit-animation-name: logo-hover-animation-out;
          animation-name: logo-hover-animation-out;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes logo-hover-animation-out {
  from {
    background: white;
    color: black;
  }
  to {
    background: #c71f1f;
    color: white;
  }
}

@keyframes logo-hover-animation-out {
  from {
    background: white;
    color: black;
  }
  to {
    background: #c71f1f;
    color: white;
  }
}

.homepage-container .main-picture-container {
  width: 70%;
  float: left;
  /***************************/
  /* Animate Main Picture In */
  /***************************/
}

.homepage-container .main-picture-container .main-picture {
  float: right;
  width: 60%;
  -webkit-animation-name: main-picture-animation;
          animation-name: main-picture-animation;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes main-picture-animation {
  to {
    opacity: 1;
  }
}

@keyframes main-picture-animation {
  to {
    opacity: 1;
  }
}

.homepage-container .main-picture-container :hover {
  -webkit-animation: shake 0.1s;
          animation: shake 0.1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.homepage-container .homepage-links-container {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homepage-container .homepage-links-container a {
  font-size: 2.2rem;
  font-family: Helvetica;
  font-weight: 900;
  color: #ffffff;
  text-decoration: none;
}

.homepage-links-block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.homepage-links-block .homepage-link {
  width: 15rem;
  padding: 2.5rem 0rem 2.5rem 0rem;
  background: black;
  text-align: center;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.homepage-links-block .homepage-link :hover {
  -webkit-animation-name: link-shake;
          animation-name: link-shake;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  text-decoration: line-through;
}

/****************************/
/* Homepage Link Animations */
/****************************/
.skills-move {
  -webkit-animation-name: homepage-skills-animation;
          animation-name: homepage-skills-animation;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
  opacity: 0;
}

@-webkit-keyframes homepage-skills-animation {
  from {
    margin-left: -7000px;
  }
  to {
    margin-left: 0;
  }
}

@keyframes homepage-skills-animation {
  from {
    margin-left: -7000px;
  }
  to {
    margin-left: 0;
  }
}

.projects-move {
  -webkit-animation-name: homepage-projects-animation;
          animation-name: homepage-projects-animation;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes homepage-projects-animation {
  from {
    margin-left: -7000px;
  }
  to {
    margin-left: 0;
  }
}

@keyframes homepage-projects-animation {
  from {
    margin-left: -7000px;
  }
  to {
    margin-left: 0;
  }
}

.about-move {
  -webkit-animation-name: homepage-about-animation;
          animation-name: homepage-about-animation;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
}

@-webkit-keyframes homepage-about-animation {
  from {
    margin-left: -13000px;
  }
  to {
    margin-left: 0;
  }
}

@keyframes homepage-about-animation {
  from {
    margin-left: -13000px;
  }
  to {
    margin-left: 0;
  }
}

.contact-move {
  -webkit-animation-name: homepage-contact-animation;
          animation-name: homepage-contact-animation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes homepage-contact-animation {
  from {
    margin-left: -21000px;
  }
  to {
    margin-top: 0;
  }
}

@keyframes homepage-contact-animation {
  from {
    margin-left: -21000px;
  }
  to {
    margin-top: 0;
  }
}

/*****************************/
/* Shake Animation Keyframes */
/*****************************/
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(0deg);
            transform: translate(1px, -2px) rotate(0deg);
  }
}
@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(0deg);
            transform: translate(1px, -2px) rotate(0deg);
  }
}

@-webkit-keyframes link-shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-3deg);
            transform: translate(-1px, -2px) rotate(-3deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(3deg);
            transform: translate(-3px, 0px) rotate(3deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(3deg);
            transform: translate(1px, -1px) rotate(3deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-3deg);
            transform: translate(-1px, 2px) rotate(-3deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-3deg);
            transform: translate(3px, 1px) rotate(-3deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(3deg);
            transform: translate(-1px, -1px) rotate(3deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(0deg);
            transform: translate(1px, -2px) rotate(0deg);
  }
}

@keyframes link-shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-3deg);
            transform: translate(-1px, -2px) rotate(-3deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(3deg);
            transform: translate(-3px, 0px) rotate(3deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(3deg);
            transform: translate(1px, -1px) rotate(3deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-3deg);
            transform: translate(-1px, 2px) rotate(-3deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-3deg);
            transform: translate(3px, 1px) rotate(-3deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(3deg);
            transform: translate(-1px, -1px) rotate(3deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(0deg);
            transform: translate(1px, -2px) rotate(0deg);
  }
}

.skills-container {
  height: 100vw;
  background: #791e1e;
}

.projects-container {
  height: 50vw;
  background: #317c4e;
}

.about-container {
  height: 50vw;
  background: #ad57ad;
}

.contact-container {
  height: 50vw;
  background: #d3a560;
}
/*# sourceMappingURL=style.css.map */