$defaultFont: Helvetica;
$defaultBackground: rgb(26, 26, 26);
$defaultFontColor: rgb(255, 255, 255);

/*******************************/
/* Defaults */
/******************************/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

li {
  list-style-type: none;
}

body {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/***********************/
/* Navigation Bar */
/***********************/
nav {
  font-family: $defaultFont;
}

.home-bar {
  display: flex;
  flex-direction: row;
  flex-flow: row-reverse;
  position: fixed;
  top: -10rem;
  width: 100%;
  transition: top 0.5s;

  background: black;

  .home-link,
  .projects-link,
  .resume-link,
  .contact-link {
    font-size: 1rem;
    font-weight: 900;
    font-style: none;
    text-decoration: none;

    overflow: hidden;
    padding: 1rem;
    margin: 0rem 1rem 0rem 1rem;

    color: $defaultFontColor;
  }
}

.home-bar a:hover {
  background: rgb(122, 122, 122);
}

/***********************/
/* Homepage Container */
/***********************/
.homepage-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;
  margin: 0;
  background: $defaultBackground;
}

.top {
  width: 100%;
  height: 5vh;
  background: $defaultBackground;
}

.logo-container {
  display: flex;
  flex-direction: column;

  text-align: center;
  width: 100%;

  .logo {
    font-size: 1.7rem;
    font-weight: 600;
    font-family: $defaultFont;
    font-style: none;
    letter-spacing: 0.2rem;
    text-decoration: none;
    white-space: nowrap;

    color: $defaultFontColor;
    background: transparent;

    margin: 1rem;
    padding: 0;
  }

  .sub-logo {
    font-size: 1rem;
    font-weight: 500;
    font-family: $defaultFont;
    font-style: none;
    letter-spacing: 0.2rem;
    text-decoration: none;
    white-space: nowrap;

    height: 5vh;
    margin: 0 0 1rem 0;

    color: $defaultFontColor;
    background: transparent;
  }
}

.homepage-links-container {
  width: 100%;
  align-items: center;
  justify-content: center;

  display: flex;
  flex-direction: row;

  background: transparent;
  a {
    font-size: 3rem;
    font-family: $defaultFont;
    font-weight: 900;
    font-style: italic;
    color: $defaultFontColor;
    text-decoration: none;
  }
}

.homepage-block {
  display: flex;
  flex-direction: column;

  width: auto;
  margin: 0rem 5rem 0 5rem;

  background: transparent;
  text-align: center;

  P {
    font-size: 1rem;
    font-weight: 500;
    font-family: $defaultFont;
    font-style: none;
    color: $defaultFontColor;
    letter-spacing: 0.2rem;
    text-decoration: none;
    white-space: nowrap;
  }
}

.main-picture {
  width: 43rem;
  transition: all .4s ease-in-out;
}

.main-picture:hover {
  transform: scale(1.1);
}

.right-picture, .left-picture {
  width: 25rem;
}

.right-picture {
  
}


.homepage-footer {
  position: absolute;
  bottom: 4rem;
  width: 100%;
  background: transparent;
  margin-top: 4rem;

  p, a {
    float: left;
    font-size: 1rem;
    font-weight: 500;
    font-family: $defaultFont;
    font-style: none;
    color: $defaultFontColor;

    letter-spacing: 0.2rem;
    text-decoration: none;
    white-space: nowrap;
  }

  p {
    margin-left: 4rem;
  }

  a {
    float: right;
    margin-right: 4rem;
  }
}

/*****************************/
/* Shake Animation Keyframes */
/*****************************/

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(0deg);
  }
}

@keyframes link-shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-3deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(3deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(3deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-3deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-3deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(3deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(0deg);
  }
}

.skills-container {
  height: 100vw;

  background-image: url("../images/parallax.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  vertical-align: middle;
  width: 100%;
  height: 20vw;
  text-align: center;
  background: grey;
  margin: out;

  line-height: 10vw;
}

.parallax {
  height: 100vw;
  background-image: url("../images/pparallax.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects-container {
  height: 50vw;
  background: rgb(49, 124, 78);
}

.resume-container {
  height: 50vw;
  background: rgb(173, 87, 173);
}

.contact-container {
  height: 50vw;
  background: rgb(211, 165, 96);
}

.loadme {
  color: white;
}

.loader {
  font-family: $defaultFont;
  font-size: 10rem;
  font-weight: 600;

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: $defaultBackground;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: load 1s linear 1.5s 1 forwards, changez 1s linear 2s 1 forwards;
}

@keyframes load {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes changez {
  to {
    z-index: -1;
  }
}
