$defaultFont: Helvetica;
$homepageFontColor: rgb(255, 255, 255);
$customRed: rgb(199, 31, 31);
$homeButtonColor: rgb(255, 255, 255);

/*******************************/
/* Defaults */
/******************************/
html {
  

}

li {
  list-style-type: none;
}

body {
  margin: 0;
}

/***********************/
/* Navigation Bar */
/***********************/
nav {
  font-family: $defaultFont;
}




.home-bar {
  position: fixed;
  top: -9vw;
  right: 0;
  white-space: nowrap;

  opacity: 0;

  animation-duration: 1s;
  animation-fill-mode: forwards;

  .home-link {
    font-size: 3rem;
    font-weight: 900;
    font-style: italic;
    text-decoration: none;

    padding-right: 2vw;

    background-color: transparent;
    color: $homeButtonColor;
  }

  @keyframes home-animation-out {
    from {
      top: -9vw;
      opacity: 1;
    }

    to {
      top: 0;
      opacity: 1;
    }
  }

  @keyframes home-animation-in {
    from {
      top: 0;
      opacity: 1;
    }

    to {
      top: -9vw;
      opacity: 0;
    }
  }
}

/***********************/
/* Homepage Container */
/***********************/
.homepage-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;

  background-image: url("../images/main-picture.jpg");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;


  .logo-container {
    .logo {
      font-size: 4rem;
      font-weight: 900;
      font-family: $defaultFont;
      font-style: none;
      text-decoration: none;
      font-style: italic;

      white-space: nowrap;

      color: white;
      background: transparent;

      padding: 0 10px 0 10px;
      margin-left: 2rem;
    }
  }
}

.sub-logo {
  position: absolute;
  top: 0;
  right: 12rem;
  white-space: nowrap;

  a {
    font-size: 4rem;
    font-weight: 900;
    font-style: italic;
    font-family: $defaultFont;

    background-color: transparent;
    color: $homeButtonColor;

    text-decoration: none;
    white-space: nowrap;
    padding-right: 2vw;
  }
  
}

.homepage-links-container {
  margin: auto;
  width: 100%;
  text-align: center;
  
  a {
    font-size: 2.2rem;
    font-family: $defaultFont;
    font-weight: 700;
    color: $homepageFontColor;
    text-decoration: none;
    background: black;
  }
}

.homepage-links-block {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .homepage-link {
    overflow: visible;
    width: 15rem;
    padding: 2.5rem 0 2.5rem 0;
    margin: 0 5rem 0 5rem;
    
    text-align: center;
    animation-fill-mode: forwards;

    :hover {
      animation-name: link-shake;
      animation-duration: 0.1s;
      animation-fill-mode: forwards;
      text-decoration: line-through;
    }
  }
}

/****************************/
/* Homepage Link Animations */
/****************************/
.skills-move {
  animation-name: homepage-skills-animation;
  animation-duration: 1.4s;
}

@keyframes homepage-skills-animation {
  from {
    
  }

  to {
    
  }
}

.projects-move {
  animation-name: homepage-projects-animation;
  animation-duration: 2s;
}

@keyframes homepage-projects-animation {
  from {
    
  }

  to {
    
  }
}

.contact-move {
  animation-name: homepage-contact-animation;
  animation-duration: 2.3s;
}

@keyframes homepage-contact-animation {
  from {
    
  }

  to {
    
  }
}

/*****************************/
/* Shake Animation Keyframes */
/*****************************/

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(0deg);
  }
}

@keyframes link-shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-3deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(3deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(3deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-3deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-3deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(3deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(0deg);
  }
}

/*****************************/
/* Skills Container */
/*****************************/

.skills-container {
  height: 100vh;
  width: 100%;
}

.parallax-main {
  /* The image used */
  background-image: url("../images/code.jpg");

  /* Full height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  top: 0;
  left: 0;
}


.content {
  margin: 0 auto;
  padding: 50px;
  width: 50%;
  background: rgb(134, 119, 148);
}

.homepage-container {
}

.projects-container {
  height: 50vw;
  background: rgb(70, 21, 116);
}

.contact-container {
  height: 50vw;
  background: rgb(87, 173, 133);
}

