/*******************************/
/* Defaults */
/******************************/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

li {
  list-style-type: none;
}

body {
  margin: 0;
}

html {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@-webkit-keyframes load {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes load {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes changez {
  to {
    z-index: -1;
  }
}

@keyframes changez {
  to {
    z-index: -1;
  }
}

/***********************/
/* Navigation Bar */
/***********************/
nav {
  font-family: Helvetica;
}

.home-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: row-reverse;
      flex-flow: row-reverse;
  position: fixed;
  top: -10rem;
  width: 100%;
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
  background: black;
}

.home-bar .home-link,
.home-bar .projects-link,
.home-bar .resume-link,
.home-bar .contact-link {
  font-size: 1rem;
  font-weight: 900;
  font-style: none;
  text-decoration: none;
  overflow: hidden;
  padding: 1rem;
  margin: 0rem 1rem 0rem 1rem;
  color: white;
}

.home-bar a:hover {
  background: #7a7a7a;
}

/***********************/
/* Homepage Container */
/***********************/
.homepage-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  margin: 0;
  background: #1a1a1a;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
  text-align: center;
}

.logo-block {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  background: transparent;
}

.logo {
  font-size: 1.7rem;
  font-weight: 600;
  font-family: Helvetica;
  font-style: none;
  letter-spacing: 0.2rem;
  text-decoration: none;
  white-space: nowrap;
  color: white;
  background: transparent;
  padding: 0;
}

.sub-logo {
  font-size: 1rem;
  font-weight: 500;
  font-family: Helvetica;
  font-style: none;
  letter-spacing: 0.2rem;
  text-decoration: none;
  white-space: nowrap;
  margin: 0 0 1rem 0;
  color: white;
  background: transparent;
}

.homepage-links-container {
  width: 100%;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: transparent;
}

.homepage-container .middle p {
  font-size: 1rem;
  font-weight: 500;
  font-family: Helvetica;
  font-style: none;
  color: white;
  letter-spacing: 0.2rem;
  text-decoration: none;
  white-space: nowrap;
}

.homepage-block-middle {
  background-image: url("../images/about1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 45rem;
  height: 30rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 1rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.homepage-block-middle:hover {
  width: 50rem;
  cursor: pointer;
}

.main-header {
  font-family: Helvetica;
  font-size: 7rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  color: transparent;
  position: absolute;
  bottom: -3rem;
  right: -4rem;
  -webkit-text-stroke-width: 0.15rem;
  -webkit-text-stroke-color: white;
}

.homepage-block-left {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 30rem;
  height: 20rem;
  position: absolute;
  top: 50%;
  left: -5rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation-name: block-left-animate;
          animation-name: block-left-animate;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes block-left-animate {
  from {
    left: -6rem;
  }
  to {
    left: -5rem;
  }
}

@keyframes block-left-animate {
  from {
    left: -6rem;
  }
  to {
    left: -5rem;
  }
}

.block-left {
  width: inherit;
  height: inherit;
  background-image: url("../images/resume3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/*******************************/
/* Loader */
/******************************/
.loadme {
  color: white;
}

.loader {
  font-family: Helvetica;
  font-size: 10rem;
  font-weight: 600;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* animation: load 0.5s linear 0.5s 1 forwards, changez 1s linear 0.5s 1 forwards; */
  /* animation: load 1s linear 1.5s 1 forwards, changez 1s linear 2s 1 forwards; */
  -webkit-animation: load 1s linear 0s 1 forwards, changez .5s linear 1s 1 forwards;
          animation: load 1s linear 0s 1 forwards, changez .5s linear 1s 1 forwards;
}

.homepage-block-right {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 30rem;
  height: 20rem;
  position: absolute;
  top: 50%;
  right: -35rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation-name: block-right-animate;
          animation-name: block-right-animate;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes block-right-animate {
  from {
    right: -36rem;
  }
  to {
    right: -35rem;
  }
}

@keyframes block-right-animate {
  from {
    right: -36rem;
  }
  to {
    right: -35rem;
  }
}

.block-left:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.block-right {
  width: inherit;
  height: inherit;
  background-image: url("../images/projects2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.block-right:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.homepage-footer {
  position: absolute;
  bottom: 4rem;
  width: 100%;
  background: transparent;
  margin-top: 4rem;
}

.homepage-footer p,
.homepage-footer a {
  float: left;
  font-size: 1rem;
  font-weight: 500;
  font-family: Helvetica;
  font-style: none;
  color: white;
  letter-spacing: 0.2rem;
  text-decoration: none;
  white-space: nowrap;
}

.homepage-footer p {
  margin-left: 4rem;
}

.homepage-footer a {
  float: right;
  margin-right: 4rem;
}

.skills-container {
  height: 100vw;
  background-image: url("../images/parallax.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  vertical-align: middle;
  width: 100%;
  height: 20vw;
  text-align: center;
  background: grey;
  margin: out;
  line-height: 10vw;
}

.parallax {
  height: 100vw;
  background-image: url("../images/pparallax.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects-container {
  height: 50vw;
  background: #317c4e;
}

.resume-container {
  height: 50vw;
  background: #ad57ad;
}

.contact-container {
  height: 50vw;
  background: #d3a560;
}
/*# sourceMappingURL=style.css.map */